@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');


:root {
    /*Cores*/
    --verde-1: #198f49;
    --verde-2: #a8f4c4;
    --verde-3: #e9f8f6;
    --verde-4: #99f6bf;
    --verde-5: #b9d2cf;
    --verde-6: #1ba553;
    --branco: #FFF;
    --cinza-1: #333; 

    /*Fontes*/
    --subtitulo: 'Fjalla One', serif;
    --paragrafo:  'Dosis', serif; 
}

/*Geral*/
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--verde-5);
    margin: auto;
}

.img__logomenor {
    width: 50%;
    display: flex;
    margin: auto;
}

/*Main*/
.container{
    background-color: rgba(255, 255, 255, 0.726);
    margin: 3% auto;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 4px 6px 0px rgb(0 0 0 / 19%);
    width: 50%;
}


/*Container*/
.form-cadastro{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: center;
}
.form-cadastro > label{
    font-family: var(--paragrafo);
    font-weight: 400;
    font-size: 1.2rem;
    text-align: left;    
}
.form-cadastro > input{
    width: 60%;
    margin: auto;
    margin-bottom: 3%;
    padding: 5px 10px;
}

.form-cadastro > button{
    background-color: #33333300;
    border: none;
    border-bottom: 3px solid var(--verde-6);
    width: 30%;
    padding: 5px;
    margin-top: 5px;
    left: 5px;
    font-family: var(--subtitulo);
    font-size: 1rem;
    margin: auto;
}
.form-cadastro > button:hover{
    transition: 1s;
    background-color: var(--verde-6);
    color:white;
}